<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

	<h1><%= movie.Title %></h1>
	<img src="<%= movie.Poster %>">
	<p><%= movie.Plot %></p>
	<p><%= movie.Actors %></p>

  <form method="post" action="/movie">
    <input type="submit" value="Add to Favorites">
    <input type="hidden" value="<%= movie.Title %>" name="Title">
</form>
</body>
</html>